* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

.wrapper {
  max-width: 1110px;
  margin: 0 auto;
}

.hamburger-menu {
  display: none;
}

.main {
  background-color: #F9F6F1;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  letter-spacing: 0.65px;
  padding: 40px 0px;
}

header a {
  text-decoration: none;
  color: #212121;
}

header .logo {
  width: 201px;
  height: 40px;
  margin: 0px 90px;
}

header .logo img {
  width: 100%;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav__item {
  list-style-type: none;
}

.nav__item img {
  width: 5px;
}

.nav__item:not(:first-child) {
  margin-left: 30px;
}

.basket {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 101px;
}

.basket__goods {
  background: no-repeat url(../images/Vector.png);
  background-size: contain;
  width: 30px;
  height: 28px;
}

.basket__counter {
  background: no-repeat url(../images/Group7.png);
  background-size: contain;
  width: 46px;
  height: 17px;
  margin-left: 15px;
}

.representation-block {
  overflow: hidden;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 120px 0px 40px 0px;
}

.representation-block__info {
  position: relative;
  width: 50%;
  height: 377px;
}

.representation-block__price {
  position: absolute;
  right: 0;
}

.representation-block__image {
  width: 100%;
  position: absolute;
  top: -30px;
}

.representation-block__seasonal-offer_season-heading {
  font-size: 30px;
  letter-spacing: 0.6px;
}

.representation-block__seasonal-offer_sale-heading {
  margin: 28px 0px 40px 0px;
  font-size: 55px;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.representation-block__price_old {
  font-size: 24px;
  text-decoration: line-through;
  font-weight: bold;
  letter-spacing: 1.4px;
  text-align: right;
  padding: 5px;
}

.representation-block__price_new {
  font-weight: bold;
  font-size: 42px;
  letter-spacing: 1.5px;
  text-align: right;
  color: #D84033;
  margin-top: 10px;
}

.slider {
  width: 100%;
  margin: 40px 0px 70px 0px;
}

.slider ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider ul li {
  margin: 7px;
  cursor: pointer;
  width: 40px;
  height: 7px;
}

.btn-see-all-models {
  background-color: #D7B399;
  font-size: 16px;
  color: #FFFFFF;
  text-transform: uppercase;
  padding: 18px 0px;
  text-align: center;
  letter-spacing: 0.6px;
  width: 240px;
  cursor: pointer;
}

.btn-arrow {
  width: 80px;
  height: 30px;
  background-color: #D7B399;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.btn-arrow img {
  width: 20px;
}

.btn-all-models {
  width: 220px;
  height: 55px;
  background-color: #D7B399;
  color: #FFFFFF;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.03em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.btn-all-models img {
  width: 20px;
  margin-left: 10px;
}

.first-footer {
  width: 100%;
  background-color: #212121;
  margin: 60px 0px;
  padding: 80px 0px 69px 0px;
}

.first-footer__info {
  text-align: center;
  color: white;
}

.first-footer__info-header {
  font-size: 30px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.first-footer__info-header span {
  font-weight: bold;
}

.first-footer__info-sub {
  font-size: 21px;
  letter-spacing: -0.3px;
  padding-top: 25px;
}

.products-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: (1fr)[3];
      grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  margin: 50px 0px;
}

.products-grid > .products-for {
  height: 207px;
}

.products-grid > .products-for p, .products-grid > .products-for h2, .products-grid > .products-for div {
  margin-left: 20px;
}

.products-grid > .products-for p {
  margin: 22px 0px 32px 20px;
}

.products-grid .products-for-men {
  position: relative;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: 1 / 1 / 2 / 3;
  background: no-repeat url(../images/forMen.png);
  background-size: 190px;
  background-position: right;
}

.products-grid .products-for-woman {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-area: 1 / 3 / 2 / 5;
  background: no-repeat url(../images/forWoman.png);
  background-size: 190px;
  background-position: right;
}

.products-grid h2 {
  font-style: normal;
  font-weight: 500;
  line-height: 29px;
  letter-spacing: 0.03em;
  font-size: 24px;
  text-transform: uppercase;
}

.products-grid h2 span {
  font-weight: bold;
}

.products-grid p {
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.3px;
}

.goods {
  position: relative;
  background-repeat: no-repeat;
  height: 220px;
}

.goods img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.goods p {
  text-transform: uppercase;
  position: absolute;
  bottom: 10px;
}

.goods h2 {
  position: absolute;
  bottom: 50px;
}

.advertising {
  height: 650px;
  margin-top: 145px;
}

.advertising__slider {
  display: none;
}

.advertising__header {
  text-align: center;
  margin-bottom: 100px;
}

.advertising__header h2 {
  font-weight: bold;
  font-size: 36px;
  line-height: 44px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.advertising__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 90px;
}

.flex-showcase {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.new-models {
  width: 22%;
  height: 350px;
  background: no-repeat url(../images/backgroundCross.png);
  padding: 6px;
  text-align: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.new-models img {
  width: 205px;
  margin-top: 20px;
}

.new-models h2 {
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  margin-top: 25px;
}

.new-models p {
  color: #D7B399;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  margin-top: 10px;
}

.second-footer {
  width: 100%;
  background-color: #212121;
  color: white;
  padding: 70px 0px 70px 0px;
  margin: 150px 0px 150px 0px;
}

.second-footer .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.second-footer__header h2 {
  font-weight: bold;
  font-size: 30px;
  line-height: 37px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.subscribe-form__input-email {
  width: 235px;
  height: 40px;
  font-weight: 300;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.02em;
  padding-left: 20px;
}

.subscribe-form__subscribe-btn {
  width: 185px;
  height: 40px;
  text-transform: uppercase;
  background-color: #D7B399;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: white;
  cursor: pointer;
  margin-left: 27px;
}

footer .basic-footer {
  padding: 70px 0px;
  margin-top: 150px;
  width: 100%;
  background-color: #212121;
  color: white;
  font-size: 14px;
}

footer .basic-footer__icon {
  width: 14px;
  margin-right: 10px;
}

footer .basic-footer a {
  text-decoration: none;
  color: #CBCFD4;
  font-size: 14px;
  line-height: 22px;
}

footer .basic-footer li {
  list-style-type: none;
  margin-top: 10px;
}

footer .basic-footer h2 {
  margin-bottom: 20px;
  padding-top: 10px;
  font-weight: bold;
  font-size: 10px;
  line-height: 12px;
  text-transform: uppercase;
}

footer .basic-footer .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .basic-footer .wrapper .logo-box {
  width: 200px;
  height: 160px;
  margin-right: 150px;
}

footer .basic-footer .wrapper .logo-box .company-info {
  margin-top: 28px;
}

footer .basic-footer .wrapper .logo-box img {
  width: 100%;
}

@media (max-width: 1130px) {
  .wrapper {
    padding: 0px 20px;
  }
  header .logo {
    margin: 0px;
  }
  header .basket {
    margin-left: 10px;
  }
  .nav__item:not(:first-child) {
    margin-left: 15px;
  }
  .flex-showcase {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .new-models {
    width: 48%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-position: center;
  }
  .second-footer {
    margin: 510px 0px 150px 0px;
  }
  .second-footer__header {
    text-align: center;
  }
  .representation-block__seasonal-offer_sale-heading {
    text-align: center;
  }
  .representation-block__seasonal-offer_season-heading {
    text-align: center;
  }
  .representation-block__info .btn-see-all-models {
    margin: 0 auto;
  }
  footer .basic-footer {
    margin-top: 440px;
  }
  footer .basic-footer .wrapper .logo-box {
    margin-right: 6%;
  }
}

@media (max-width: 860px) {
  .representation-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 1% 0px 13% 0px;
  }
  .representation-block__info {
    width: 100%;
  }
  .products-grid {
    display: none;
  }
  header .nav {
    display: none;
  }
  .goods-category {
    display: none;
  }
  .hamburger-menu {
    display: block;
  }
}

@media (max-width: 660px) {
  .representation-block {
    padding: 1% 0px 1% 0px;
  }
  .carousel-container {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    margin: 0 auto;
    overflow: hidden;
  }
  .flex-showcase {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    width: 270px;
    -webkit-transition: -webkit-transform .4s ease-in;
    transition: -webkit-transform .4s ease-in;
    transition: transform .4s ease-in;
    transition: transform .4s ease-in, -webkit-transform .4s ease-in;
    margin: 0 auto;
  }
  .flex-showcase .new-models {
    min-width: 100%;
  }
  .advertising__slider {
    display: block;
    margin: 30px 0px 30px 0px;
  }
  .advertising__footer {
    margin-top: 40px;
  }
  .second-footer {
    margin: 100px 0px;
  }
  .second-footer .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .second-footer .wrapper .subscribe-form {
    text-align: center;
  }
  .second-footer .wrapper .subscribe-form .subscribe-form__subscribe-btn {
    margin-left: 0px;
  }
  footer .basic-footer {
    margin-top: 100px;
  }
  footer .basic-footer .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  footer .basic-footer .wrapper .logo-box {
    width: 40%;
    height: 100%;
  }
  footer .basic-footer .wrapper .footer-info {
    width: 40%;
    margin-top: 20px;
  }
}

@media (max-width: 480px) {
  .representation-block__price {
    bottom: 0px;
    right: unset;
    width: 100%;
  }
  .representation-block__price_old {
    text-align: center;
  }
  .representation-block__price_new {
    text-align: center;
  }
  .hamburger-menu {
    margin-right: 10px;
  }
}

.hamburger-btn__icon {
  font-weight: bold;
  cursor: pointer;
  width: 50px;
  height: 50px;
  background-color: #D7B399;
  position: absolute;
  z-index: 11;
  position: relative;
}

.hamburger-btn__icon .line {
  position: absolute;
  display: block;
  width: 30px;
  background-color: #212121;
  height: 2px;
  margin-top: calc(50% - 1px);
  margin-left: calc(50% - 15px);
  -webkit-transition: 1s;
  transition: 1s;
}

.hamburger-btn__icon .line-first {
  -webkit-transform: translate(0px, -7px);
          transform: translate(0px, -7px);
}

.hamburger-btn__icon .line-third {
  -webkit-transform: translate(0px, 7px);
          transform: translate(0px, 7px);
}

.hamburger-btn__icon_activated {
  font-weight: bold;
  cursor: pointer;
  width: 50px;
  height: 50px;
  background-color: #D7B399;
  position: absolute;
  z-index: 11;
  position: relative;
}

.hamburger-btn__icon_activated .line {
  position: absolute;
  display: block;
  width: 30px;
  background-color: #212121;
  height: 2px;
  margin-top: calc(50% - 1px);
  margin-left: calc(50% - 15px);
  -webkit-transition: 1s;
  transition: 1s;
}

.hamburger-btn__icon_activated .line-first {
  -webkit-transform: translate(0px, -7px);
          transform: translate(0px, -7px);
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.hamburger-btn__icon_activated .line-second {
  opacity: 0;
}

.hamburger-btn__icon_activated .line-third {
  -webkit-transform: translate(0px, 7px);
          transform: translate(0px, 7px);
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.menu-box {
  background-color: wheat;
  width: 300px;
  line-height: 40px;
  position: absolute;
  z-index: 10;
  padding: 100px 0px 20px 40px;
  left: 0px;
  top: -400px;
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-box-shadow: 4px 3px 2px rgba(0, 0, 0, 0.5);
          box-shadow: 4px 3px 2px rgba(0, 0, 0, 0.5);
}

.menu-box .menu__item {
  list-style-type: none;
  text-transform: uppercase;
}

.sliders-scroll {
  position: absolute;
  width: 100%;
  display: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 90px;
}

.sliders-scroll .sliders-scroll__btn {
  font-size: 60px;
  z-index: 2;
  opacity: .7;
  cursor: pointer;
  width: 37px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: 1s;
  transition: 1s;
}

@media (min-width: 861px) {
  .representation-block:hover .sliders-scroll {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.drop-menu {
  position: absolute;
  -webkit-transform: translate(0px, -200px);
          transform: translate(0px, -200px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  opacity: 0;
  -webkit-transition: .2s ease-out;
  transition: .2s ease-out;
  z-index: 2;
}

.drop-menu a {
  padding: 0 10% 0 10%;
  width: 100%;
  margin-top: 10px;
  border-bottom: 1px dotted black;
}

.items-for-mens:hover .for-men {
  position: absolute;
  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
  opacity: 1;
}

.items-for-womans:hover .for-woman {
  position: absolute;
  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
  opacity: 1;
}

.items-for-children:hover .for-children {
  position: absolute;
  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
  opacity: 1;
}

.img__mormal-position {
  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
  opacity: 1;
}

.img__swipe-right {
  -webkit-transform: translate(600px, 0px);
          transform: translate(600px, 0px);
  opacity: 0;
}

.representation-block__image {
  -webkit-transition: .2s ease-in;
  transition: .2s ease-in;
}

.img__swipe-left {
  -webkit-transform: translate(-600px, 0px);
          transform: translate(-600px, 0px);
  opacity: 0;
}

.img-loader {
  opacity: 0;
  width: 0px;
  height: 0px;
  overflow: hidden;
}
