$colorMain:  #F9F6F1;
$colorSecond: #212121;
$Monserat: 'Montserrat', sans-serif;
$colorAccent: #D7B399;
$colorImporant: #D84033;

* {
    margin: 0;
    padding: 0;
    font-family: $Monserat;
}
.wrapper {
    max-width: 1110px;
    margin: 0 auto;
}
.hamburger-menu {
    display: none;
}
.main {
    background-color: $colorMain;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    letter-spacing: 0.65px;
    padding: 40px 0px;
    a {
        text-decoration: none;
        color: $colorSecond;
    }
    .logo {
        width: 201px;
        height: 40px;
        margin: 0px 90px;
        img {
            width: 100%;
        }
    }
}
.nav {
    display: flex;
    &__item {
        list-style-type: none;
        img {
            width: 5px;
        }
    }
    &__item:not(:first-child) {
        margin-left: 30px;
    }
}
.basket {
    display: flex;
    align-items: center;
    margin-left: 101px;
    &__goods {
        background: no-repeat url(../images/Vector.png);
        background-size: contain;
        width: 30px;
        height: 28px;
    }
    &__counter {
        background: no-repeat url(../images/Group7.png);
        background-size: contain;
        width: 46px;
        height: 17px;
        margin-left: 15px;
    }
}

//////representation-block///////

.representation-block {
    display: flex;
    padding: 120px 0px 40px 0px;
    &__info {
        position: relative;
        width: 50%;
        height: 377px;
    }
    &__price {
        position: absolute;
        right: 0;
    }
    &__image {
        width: 100%;
        position: absolute;
        top: -30px;
    }
    &__seasonal-offer {
        &_season-heading {
            font-size: 30px;
            letter-spacing: 0.6px;
        }
        &_sale-heading {
            margin: 28px 0px 40px 0px;
            font-size: 55px;
            letter-spacing: 3px;
            text-transform: uppercase;
        }
    }
    &__price_old {
        font-size: 24px;
        text-decoration: line-through;
        font-weight: bold;
        letter-spacing: 1.4px;
        text-align: right;
        padding: 5px;
    }
    &__price_new {
        font-weight: bold;
        font-size: 42px;
        letter-spacing: 1.5px;
        text-align: right;
        color: $colorImporant;
        margin-top: 10px;
    }
}
.slider {
    width: 100%;
    margin: 40px 0px 70px 0px;
    ul {
        display: flex;
        list-style-type: none;
        justify-content: center;
        align-items: center;
        li {
            margin: 7px;
            cursor: pointer;
            width: 40px;
            height: 7px;
        }
    }

}

////buttons//////
.btn-see-all-models {
    background-color: $colorAccent;
    font-size: 16px;
    color: #FFFFFF;
    text-transform: uppercase;
    padding: 18px 0px;
    text-align: center;
    letter-spacing: 0.6px;
    width: 240px;
    cursor: pointer;
}
.btn-arrow {
    width: 80px;
    height: 30px;
    background-color: $colorAccent;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
        width: 20px;
    }
}
.btn-all-models {
    width: 220px;
    height: 55px;
    background-color: $colorAccent;
    color: #FFFFFF;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.03em;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    img {
        width: 20px;
        margin-left: 10px;
    }
}
///////first-footer///////

.first-footer {
    width: 100%;
    background-color: $colorSecond;
    margin: 60px 0px;
    padding: 80px 0px 69px 0px;
    &__info {
        text-align: center;
        color: white;
        &-header {
            font-size: 30px;
            text-transform: uppercase;
            letter-spacing: 1px;
            span {
                font-weight: bold;
            }
        }
        &-sub {
            font-size: 21px;
            letter-spacing: -0.3px;
            padding-top: 25px;
        }
    }
}

//////grid products////// 
.products-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    margin: 50px 0px;
    >.products-for {
        height: 207px;
        p, h2, div {
            margin-left: 20px;
        }
        p {
            margin: 22px 0px 32px 20px;
        }
    }
    .products-for-men { 
        position: relative;
        grid-area: 1 / 1 / 2 / 3; 
        background: no-repeat url(../images/forMen.png);
        background-size: 190px;
        background-position: right;
    }
    .products-for-woman { 
        grid-area: 1 / 3 / 2 / 5; 
        background: no-repeat url(../images/forWoman.png);
        background-size: 190px;
        background-position: right;
    }
    h2 {
        font-style: normal;
        font-weight: 500;
        line-height: 29px;
        letter-spacing: 0.03em;
        font-size: 24px;
        text-transform: uppercase;
        span {
            font-weight: bold;
        }
    }
    p {
        font-style: normal;
        font-weight: 300;
        font-size: 16px;
        line-height: 20px;
        letter-spacing: -0.3px;
    }
}
.goods {
    background-image: url(../images/t-shirt.png);
    background-size: contain;
    position: relative;
    background-repeat: no-repeat;
    height: 220px;
    p {
        text-transform: uppercase;
        position: absolute;
        bottom: 10px;
    }
}
.advertising {
    height: 650px;
    margin-top: 145px;
    &__slider {
        display: none;
    }
    &__header {
        text-align: center;
        margin-bottom: 100px;
        h2 {
            font-weight: bold;
            font-size: 36px;
            line-height: 44px;
            text-transform: uppercase;
            letter-spacing: 2px;
        }
    }
    &__footer {
        display: flex;
        justify-content: center;
        margin-top: 90px;
    }
}
.flex-showcase {
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
}
.new-models {
    width: 22%;
    height: 350px;
    background: no-repeat url(../images/backgroundCross.png);
    padding: 6px;
    text-align: center;
    flex-wrap: wrap;
    img {
        width: 205px;
        margin-top: 20px;
    }
    h2 {
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
        margin-top: 25px;
    }
    p {
        color: $colorAccent;
        font-weight: bold;
        font-size: 18px;
        line-height: 22px;
        margin-top: 10px;
    }
}

////second footer///////

.second-footer {
    width: 100%;
    background-color: $colorSecond;
    color: white;
    padding: 70px 0px 70px 0px;
    margin: 150px 0px 150px 0px;
    .wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__header {
        h2 {
            font-weight: bold;
            font-size: 30px;
            line-height: 37px;
            letter-spacing: 1px;
            text-transform: uppercase;
        }
    }
}

.subscribe-form {
    &__input-email {
        width: 235px;
        height: 40px;
        font-weight: 300;
        font-size: 12px;
        line-height: 15px;
        letter-spacing: 0.02em;
        padding-left: 20px;
    }
    &__subscribe-btn {
        width: 185px;
        height: 40px;
        text-transform: uppercase;
        background-color: $colorAccent;
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        text-align: center;
        color: white;
        cursor: pointer;
        margin-left: 27px;
    }
}

//////basic-footer///////// 

footer {
    .basic-footer {
        padding: 70px 0px;
        margin-top: 150px;
        width: 100%;
        background-color: $colorSecond;
        color: white;
        font-size: 14px;
        &__icon {
            width: 14px;
            margin-right: 10px;
        }
        a {
            text-decoration: none;
            color: #CBCFD4;
            font-size: 14px;
            line-height: 22px;
        }
        li {
            list-style-type: none;
            margin-top: 10px;
        }
        h2 {
            margin-bottom: 20px;
            padding-top: 10px;
            font-weight: bold;
            font-size: 10px;
            line-height: 12px;
            text-transform: uppercase;
        }
        .wrapper {
            display: flex;
            justify-content: space-between;
            .logo-box {
                width: 200px;
                height: 160px;
                margin-right: 150px;
                .company-info {
                    margin-top: 28px;
                }
                img {
                    width: 100%;
                }
            }
        }
    }

}

///adaptive///// 


@media (max-width: 1130px) {
    .wrapper {
        padding: 0px 20px;
    }
    header {
        .logo {
            margin: 0px;
        }
        .basket {
            margin-left: min($numbers: 10px);
        }
    }
    .nav {
        
        &__item:not(:first-child) {
            margin-left: min($numbers: 15px);
        }
    }
    .flex-showcase {
        justify-content: center;
    }
    .new-models {
        width: 48%;
        justify-content: center;
        background-position: center;
    }
    .second-footer {
        margin: 510px 0px 150px 0px;
        &__header {
            text-align: center;
        }
    }
    .representation-block__seasonal-offer_sale-heading {
        text-align: center;
    }
    .representation-block__seasonal-offer_season-heading {
        text-align: center;
    }
    .representation-block__info {
        .btn-see-all-models {
            margin: 0 auto;
        }
    }
    footer .basic-footer {
      margin-top: 440px;
    }
    footer .basic-footer .wrapper .logo-box {
        margin-right: 6%;
    }
}
@media (max-width: 860px) {
    .representation-block {
        flex-direction: column;
        padding: 1% 0px 13% 0px;
        &__info {
            width: 100%;
        }
    }
    .products-grid {
        display: none;
    }
    header .nav {
        display: none;
    }
    .goods-category {
        display: none;
    }
    .hamburger-menu {
        display: block;
    }
}

@media (max-width: 660px) {
    .flex-showcase {
        .new-models {
            width: 100%;
        }
        .new-models:not(:first-child) {
            display: none;
        }
    }
    .advertising {
        &__slider {
            display: block;
            margin: 30px 0px 30px 0px;
        }
        &__footer {
            margin-top: 40px;
        }
    }   
    .second-footer {
        margin: 100px 0px;
    }
    footer {
        .basic-footer {
            margin-top: 100px;
            .wrapper {
                display: flex;
                flex-wrap: wrap;
                .logo-box {
                    width: 40%;
                    height: 100%;
                }
                .footer-info {
                    width: 40%;
                    margin-top: 20px;
                }
            }
        }
    }
}
//////hamburger-menu////////

.hamburger-btn__icon {
    font-weight: bold;
    cursor: pointer;
    width: 50px;
    height: 50px;
    background-color: $colorAccent;
    position: absolute;
    z-index: 11;
    position: relative;
    .line {
        position: absolute;
        display: block;
        width: 30px;
        background-color: $colorSecond;
        height: 2px;
        margin-top: calc(50% - 1px);
        margin-left: calc(50% - 15px);
        transition: 1s;
    }
    .line-first {
        transform: translate(0px, -7px);
    }
    .line-third {
        transform: translate(0px, 7px);
    }
    &_activated {
        font-weight: bold;
        cursor: pointer;
        width: 50px;
        height: 50px;
        background-color: $colorAccent;
        position: absolute;
        z-index: 11;
        position: relative;
        
        .line {
            position: absolute;
            display: block;
            width: 30px;
            background-color: $colorSecond;
            height: 2px;
            margin-top: calc(50% - 1px);
            margin-left: calc(50% - 15px);
            transition: 1s;
        }
        .line-first {
            transform: translate(0px, -7px);
            transform: rotate(45deg);
        }
        .line-second {
            opacity: 0;
        }
        .line-third {
            transform: translate(0px, 7px);
            transform: rotate(-45deg);

        }
    }
}

.menu-box {
    background-color: wheat;
    width: 300px;
    line-height: 40px;
    position: absolute;
    z-index: 10;
    padding: 100px 0px 20px 40px;
    left: 0px;
    top: -400px;
    transition: 1s;
    .menu__item {
        list-style-type: none;
        text-transform: uppercase;
    }
}
